# DBSN.
db_path = "file:test.db?cache=shared&mode=memory"

# Password for the admin interface.
password = "myPassword"

# Set the address for your server.
address = ":8081"

# Path to the grading script to run on each upload.
grading_script = "./grade.sh"

# Define the maximum number of jobs that may run in parallel.
max_jobs = 5

# Refresh rate for the results page, in milliseconds.
results_refresh_rate = 3000

# Limit for request body size.
body_limit = "10K"

# Rate limit for clients, in requests per second.
rate_limit = 5
